@model IEnumerable<finalProject.Models.tenantManagerMessage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Send New Message", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.manager.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenant.firstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.tenantId == finalProject.Controllers.staticclass.name)
    {


    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.manager.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenant.firstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.messageId }) |
            @Html.ActionLink("Details", "Details", new { id = item.messageId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.messageId })
        </td>
    </tr>
    }
}

</table>
